.someclass {
	color: orange;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10em;
    	position: relative;
	top: 10em
}

#btn {
	margin-left: auto;
	margin-right: auto;
}
#btn2 {
	margin-left: auto;
	margin-right: auto;
}
.form-group-center {
	margin-left: auto;
	margin-right: auto;
}
